IP_FILESYSTEM=192.168.1.47
IP_MEMORIA=192.168.1.48
IP_KERNEL=192.168.1.76
IP_CPU=192.168.1.76
PUERTO_ESCUCHA=32001
PUERTO_FILESYSTEM=32000
PATH_INSTRUCCIONES=../the-last-of-c-pruebas-main/
TAM_MEMORIA=1024
RETARDO_RESPUESTA=100
ESQUEMA=FIJAS
ALGORITMO_BUSQUEDA=FIRST
PARTICIONES=[32,32,32,32,32,32,32,32]
LOG_LEVEL=INFO
