IP_FILESYSTEM=192.168.1.47
IP_MEMORIA=192.168.1.48
IP_KERNEL=192.168.1.76
IP_CPU=192.168.1.76
PUERTO_ESCUCHA=32000
MOUNT_DIR=/home/utnso/mount_dir
BLOCK_SIZE=32
BLOCK_COUNT=4096
RETARDO_ACCESO_BLOQUE=2500
LOG_LEVEL=INFO
PATH_BITMAP=/home/utnso/mount_dir/bitmap.dat
PATH_BLOQUES=/home/utnso/mount_dir/bloques.dat